<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>C'est bon j'ai enregistré ton commentaire !</h1>
    <a href="/">Revenir à la page d'acceuil</a> <br/> <br/>
    <a href="/gossips/<%=params[:page_id] %>/">Revenir à la page du potin</a> <br/>
    
  </body>
</html>