<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin</h1>
    <p>
      Son auteur : == <%= gossip_author %> ==<br/>
      Le contenu du potin : == <%= gossip_content %> ==<br/>
      
    </p>

    <a href="/gossips/<%=params[:id] %>/edit/">Editer le potin</a> <br/>

    <a href="/">Lien pour revenir à la page des potins</a> <br/>
  </body>
</html>